html {
  line-height: 1.5;
  --list-item-1-background-color: #eee;
  --list-item-1-color: black;
  --list-item-2-background-color: white;
  --list-item-2-color: black;
  --gray-background-color: transparent;
  --gray-opaque-background-color: white;
  --gray-color: gray;
  --highlighted-background-color: #999;
  --highlighted-color: white;
  --weight-1-background-color: #fafafa;
  --weight-1-color: black;
  --weight-2-background-color: #f0f0f0;
  --weight-2-color: black;
  --weight-3-background-color: #ccc;
  --weight-3-color: black;
  --weight-4-background-color: #999;
  --weight-4-color: white;
  --border-2-color: #f0f0f0;
  --border-4-color: #999;
}

svg.defs {
  position: absolute;
  left: -100%;
  width: 0;
  overflow: hidden;
}

hgroup, h1, h2, h3, h4, h5, h6 {
  background: transparent;
  color: #004000;
  font-size: 100%;
}

hgroup > h1, hgroup > h2 {
  margin: 0;
}

header.site {
  position: absolute;
  top: 0;
  right: 0.5rem;
  line-height: 1.0;
}

header.site h1 a {
  display: block;
  color: inherit;
  text-decoration: none;
}

footer.site {
  display: block;
  margin-top: 1rem;
  padding: 0.5rem;
  background: #eee;
  color: black;
  font-size: 90%;
  text-align: center;
}

footer.site a[rel~=top],
footer.site a[rel~=license] {
  color: inherit;
  text-decoration: none;
}

body > section {
  padding-right: 316px;
  padding-left: 1rem;
  padding-bottom: 1rem;
  min-height: 410px;
}

body.has-large > section {
  padding-right: 1rem;
  min-height: 0;
}

body > section > hgroup {
  margin: 0.5rem -316px 1rem -1rem;
  padding: 0.6rem 150px 0.3rem 0.3rem;
  border-bottom: 0.2rem solid;
  min-height: 65px;
  line-height: 1.0;
}

body.has-large > section > hgroup {
  margin-right: -1rem;
  padding-right: 0.3rem;
}

@media (max-width: 600px) {
  body > section {
    padding-right: 1rem;
    min-height: 0;
  }

  body > section > hgroup {
    margin-right: -1rem;
    padding-right: 0.3rem;
  }
}

body > section > hgroup > h1 {
  font-size: 200%;
}

body > section > hgroup > h2 {
  margin-top: 0.3rem;
  font-size: 120%;
}

section > section {
  padding-left: 1em;
}

section > section > h1 {
  margin-top: 0.5rem;
  margin-left: -1rem;
  margin-bottom: 0.5rem;
  border-bottom: .1rem solid;
  padding-bottom: .2rem;
  font-size: 150%;
}

section > section > section > h1 {
  font-size: 120%;
  margin-bottom: .5rem;
  border-bottom: none;
  padding-bottom: 0;
}

section > section > section > h1::after {
  content: ":";
}

table {
  width: 100%;
  border-collapse: collapse;
}

table + table {
  margin-top: 1em;
}

tr {
  border-top: 1px #eee solid;
  border-bottom: 1px #eee solid;
}

th, td {
  padding: .25rem .5rem;
}

td.long {
  vertical-align: top;
}

tbody th {
  width: 30%;
  text-align: right;
  vertical-align: top;
}

tbody th:last-of-type::after {
  content: ": ";
}

table.nnv > tbody > tr > th {
  width: auto;
}

td > a:only-child:not(.inline) {
  display: block;
}

output:lang(ar) {
  direction: rtl;
}

td.copy {
  width: 2em;
  text-align: right;
}

td.copy button {
  font-size: 80%;
  cursor: pointer;
  border-style: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  line-height: 1.4;
}

td.copy button:not(:hover) {
  background: transparent;
  color: gray;
}

#yearless-date ul {
  padding: 0;
}

#birthday ul {
  -webkit-column-width: 10em;
  column-width: 10em;
}

#events ul {
  -webkit-column-width: 15em;
  column-width: 15em;
}

#yearless-date ul > li {
  display: block;
}

#events ul > li {
  font-size: 80%;
}

#yearless-date ul > li > a:first-child {
  font-weight: bolder;
}

#events ul > li > a:first-child {
  font-weight: normal;
}

#yearless-date ul > li > .desc {
  font-size: 80%;
}

table.years {
  display: block;
  margin: 1em;
}

table.years > tbody {
  display: block;
}

table.years > tbody > tr {
  display: inline-block;
  margin-right: 1em;
}

table.years > tbody > tr > th,
table.years > tbody > tr > td {
  display: inline;
  width: auto;
}

.ads-rectangle {
  position: absolute;
  top: 100px;
  right: 1rem;
}

.has-large .ads-rectangle {
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: static;
  overflow: hidden;
}

@media (max-width: 600px) {
  .ads-rectangle {
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: static;
    overflow: hidden;
  }
}

hgroup a,
a[rel~=bookmark] {
  color: inherit;
  background: transparent;
  text-decoration: none;
}

:-webkit-any(a:not([rel~=bookmark]), button):-webkit-any(:hover, :active, :focus) {
  background-color: #ffa;
  color: black;
  text-decoration: underline;
}

:-webkit-any(.list-prev, .list-next) {
  appearance: none;
  width: 100%;
  background: transparent;
  color: inherit;
  border-style: none;
  text-align: center;
  cursor: pointer;
}

.error {
  color: red;
}

.toc {
  margin: .3rem 0;
  padding: 0;
  font-size: 90%;
}

.toc > li {
  display: inline-block;
  margin: .1rem .3em .1rem .1rem;
  padding: .1rem;
}

.toc > li > a {
  display: block;
  text-decoration: none;
  border-bottom: 1px dashed;
  padding-bottom: .1rem;
}

.toc > li > a::before {
  content: "\A7  ";
}

.toc > li > a:hover {
  text-decoration: none;
}

form.input {
  padding: .2rem;
}

form.input > input {
  width: 80%;
  padding: .2rem;
}

form.input > button {
  min-width: 5em;
  cursor: pointer;
  padding: .2rem;
}

.nearby {
  margin: 0;
  text-align: right;
  font-size: 90%;
}

nav.nearby {
  margin-left: auto;
  margin-right: auto;
  border: #ccc 1px solid;
  border-radius: .2rem;
  padding: .2rem .5rem;
  max-width: 25em;
  text-align: left;
  background: #eee;
  color: black;
}

nav.nearby ul {
  margin: 0;
  text-align: right;
}

nav.nearby ul > li {
  display: inline-block;
  margin: 0 0.5em;
  padding: 0;
}

nav.nearby ul > li > a {
  display: block;
  min-width: 5em;
  text-align: center;
}

.item-list {
  padding: 0;
  -webkit-column-width: 5em;
  column-width: 5em;
}

.item-list > li {
  display: block;
  margin: 0;
  padding: 0;
}

.item-list > li > a {
  display: block;
}

.menu-list:not([hidden]),
.era-year-list:not([hidden]) {
  display: block;
}

.menu-list {
  column-width: 20em;
}

.menu-list list-item:not([hidden]),
.era-year-list list-item:not([hidden]) {
  display: block;
}

.menu-list list-item {
  break-inside: avoid;
}

.menu-list :-webkit-any(a, .list-prev, .list-next):not([hidden]),
.era-year-list :-webkit-any(.list-prev, .list-next):not([hidden]) {
  display: block;
}

.menu-list :-webkit-any(.list-prev, .list-next),
.era-year-list :-webkit-any(.list-prev, .list-next) {
  font-size: 200%;
  padding: .3em;
}

.menu-list a:not(:active):not(:hover):not(:focus) {
  text-decoration: none;
}

.menu-list a {
  padding: .6em;
}

.menu-list a > bdi {
  font-size: 200%;
}

.menu-list a .year-range {
  margin: 0;
  text-align: right;
  text-decoration: none;
  font-size: 80%;
  line-height: 1.0;
}

.era-year-list list-item {
  margin-bottom: .5em;
}

.era-year-list p {
  margin: 0;
}

.era-year-list .main {
  background-color: var(--weight-2-background-color);
  color: var(--weight-2-color);
  padding: .3em;
}

.era-year-list .known-era-year-true .main {
  background-color: var(--weight-3-background-color);
  color: var(--weight-3-color);
}

.era-year-list .era-year-true {
  background-color: var(--weight-1-background-color);
  color: var(--weight-1-color);
}

.era-year-list .main a:not([hidden]) {
  display: block;
}
.era-year-list .main a:not(:focus):not(:active):not(:hover) {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}
.era-year-list .main a {
  font-size: 200%;
}

.era-year-list .info {
  padding: .3em;
}

.transitions .info {
  padding: 0;
  font-size: 90%;
  color: var(--gray-color);
  background-color: var(--gray-background-color);
}

.transitions > tbody > tr > .type {
  text-align: center;
}

.transitions > tbody > tr > .type enum-value {
  white-space: pre;
}

.transitions > tbody > tr > .day {
  line-height: 1.0;
}

.transitions > tbody > tr > .day > div[data-hidden-field=day_range_hidden]:not([hidden]) {
  font-size: 80%;
}

.transitions > tbody > tr > .day > div[data-hidden-field=day_range_hidden] > *:not([hidden]) {
  display: block;
}
.transitions > tbody > tr > .day > div[data-hidden-field=day_range_hidden] > sw-data-day {
  border: solid #eee .25em;
  padding: .5em;
}
.transitions > tbody > tr > .day > div[data-hidden-field=day_range_hidden] > sw-data-day:first-of-type {
  border-style: solid none none solid;
}
.transitions > tbody > tr > .day > div[data-hidden-field=day_range_hidden] > sw-data-day:last-of-type {
  border-style: none solid solid none;
}
.transitions > tbody > tr > .day > div[data-hidden-field=day_range_hidden] > p {
  text-align: center;
}

.transitions > tbody > tr > .day .full-date,
.transitions > tbody > tr > .day enum-value,
.transitions > tbody > tr > .day a {
  white-space: nowrap;
  text-align-last: justify;
}

.transitions > tbody > tr > .day .full-date {
  margin-left: 1em;
  font-size: 80%;
}
.transitions > tbody > tr > .day .full-date span,
.transitions > tbody > tr > .day .full-date .leap {
  font-size: 130%;
  font-weight: bolder;
}

.transitions > tbody > tr > .neighbors {
  white-space: nowrap;
}

.transitions > tbody > tr > .neighbors sw-data-year {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.transitions > tbody > tr > .neighbors a:not([hidden]),
.transitions > tbody > tr > .neighbors code:not([hidden]) {
  display: block;
}
.transitions > tbody > tr > .neighbors a,
.transitions > tbody > tr > .neighbors code {
  white-space: nowrap;
  line-height: 1.0;
}

.transitions > tbody > tr > .neighbors a {
  font-size: 130%;
  font-weight: bolder;
}
.transitions > tbody > tr > .neighbors a:not(:active):not(:focus):not(:hover) {
  text-decoration: none;
}

.delta-first-day:not([hidden]) {
  display: block;
}
.delta-first-day {
  text-align: center;
  font-size: 80%;
}

.delta-first-day unit-number {
  font-weight: bold;
  font-size: 120%;
}

.transitions > tbody > tr > .tags {
  font-size: 80%;
  font-weight: normal;
}

.transition-type-firstday > td.type,
.transition-type-commenced > td.type {
  color: var(--highlighted-color);
  background-color: var(--highlighted-background-color);
}

.transition-type-firstday\/incorrect,
.transition-type-prevfirstday\/incorrect,
.transition-type-commenced\/incorrect,
.transition-type-wartime\/incorrect,
.transition-type-triggering\/incorrect {
  color: var(--gray-color);
  background-color: var(--gray-background-color);
  text-decoration: line-through;
}

.transition-type-prevfirstyearstart > td.neighbors,
.transition-type-firstyearstart > td.neighbors,
.transition-type-prevfirstday > td.neighbors,
.transition-type-lastyearend > td.neighbors,
.transition-type-nextlastyearend > td.neighbors,
.transition-type-triggering > td.neighbors,
.transition-type-triggering\/possible > td.neighbors {
  opacity: 0.3;
}

.incorrect-旧説 bdi[data-field=name] {
  text-decoration: line-through !important;
}

sw-tags a {
  text-decoration: none;
}

sw-tags a::before {
  content: "#";
}

#eras tbody tr:nth-child(6n-5),
#eras tbody tr:nth-child(6n-4),
#eras tbody tr:nth-child(6n-3) {
  background: #eee;
  color: black;
}

#eras tbody th {
  width: auto;
  text-align: center;
}

#eras tbody th::after {
  content: none;
}

#eras td[colspan] {
  text-align: center;
}

#eras td a {
  color: inherit;
  text-decoration: none;
}

.test-result .boolean-true > a {
  color: white;
  background: green;
  text-align: center;
}

.test-result .boolean-false > a {
  color: white;
  background: red;
  text-align: center;
}

td > .error-list {
  margin: 0;
  padding: 0;
}

td > .error-list > li {
  display: block;
  margin: 0;
  margin-bottom: 0.5rem;
  padding: 0;
}

.extlang td > p {
  margin: 0;
}

.rfc2119 {
  font-weight: bolder;
  font-style: normal;
  text-transform: lowercase;
  font-variant: small-caps;
}

dfn {
  font-weight: bolder;
  font-style: normal;
}

a.active {
  font-weight: bolder;
  text-decoration: none;
  color: inherit;
  background: transparent;
}

sw-era-transition-graph:not([hidden]) {
  display: block;
}
sw-era-transition-graph {
  position: relative;
}

sw-era-transition-graph a:not(:active):not(:focus):not(:hover) {
  text-decoration: none;
}

sw-era-transition-graph foreignObject {
  overflow: visible;
}

sw-era-transition-graph foreignObject > div {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
}

sw-era-transition-graph .era-header {
  align-items: end;
  line-height: 1.1;
  padding-bottom: .5em;
}

sw-era-transition-graph .era-header.selected {
  background-color: var(--weight-2-background-color);
  color: var(--weight-2-color);
}

sw-era-transition-graph .era-header a:not([hidden]),
sw-era-transition-graph .era-header bdi:not([hidden]),
sw-era-transition-graph .era-header code:not([hidden]) {
  display: block;
}

sw-era-transition-graph .era-header bdi {
  font-weight: bolder;
}

sw-era-transition-graph .era-header.incorrect bdi {
  text-decoration: line-through;
}

sw-era-transition-graph .year-header {
  justify-content: end;
  text-align: right;
  padding-right: 1em;
  line-height: 1.1;
}

sw-era-transition-graph .year-header p {
  margin: 0;
  font-size: 80%;
}

sw-era-transition-graph .year-header span[data-field=eraValue],
sw-era-transition-graph .year-header data[data-field=value] {
  margin-left: .3em;
  margin-right: .3em;
  font-weight: bolder;
}
sw-era-transition-graph .year-header p:first-child span[data-field=eraValue] {
  font-size: 130%;
}

sw-era-transition-graph line {
  stroke: black;
  stroke-width: 1px;
}

sw-era-transition-graph .era-line {
  stroke: var(--border-4-color);
  stroke-width: 5px;
}

sw-era-transition-graph .era-known-line {
  stroke: var(--border-4-color);
  stroke-dasharray: 8, 3;
}

sw-era-transition-graph .era-continue-line {
  stroke: var(--border-2-color);
  stroke-dasharray: 8, 3;
}

sw-era-transition-graph .era-transition {
  marker-end: url(#arrow);
}
sw-era-transition-graph .era-transition[data-type=wartime] {
  stroke-dasharray: 6 2;
}

sw-era-transition-graph text {
  text-anchor: middle;
  dominant-baseline: central;
}

sw-era-transition-graph .era-year-number {
  margin: 0 auto;
  width: min-content;
  min-width: 1.5em;
  padding: 0.25em;
  border: 1px solid currentcolor;
  border-radius: 1em;
  background: white;
  color: black;
  line-height: 1.0;
  font-size: 90%;
}

sw-era-transition-graph .era-year-number.incorrect {
  color: var(--gray-color);
  background-color: var(--gray-opaque-background-color);
}

sw-era-transition-graph .year-boundary {
  font-size: 48px;
  white-space: pre;
  text-decoration: underline;
  text-decoration-style: wavy;
  color: var(--border-2-color);
  background: transparent;
  user-select: none;
}

/*

Copyright 2015-2021 Wakaba <wakaba@suikawiki.org>.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Affero General Public License for more details.

You does not have received a copy of the GNU Affero General Public
License along with this program, see <https://www.gnu.org/licenses/>.

*/
