@import 'default.css';

html {
  line-height: 1.5;
  --list-item-1-background-color: #eee;
  --list-item-1-color: black;
  --list-item-2-background-color: white;
  --list-item-2-color: black;
  --gray-background-color: transparent;
  --gray-opaque-background-color: white;
  --gray-color: gray;
  --gray-border-color: #ccc;
  --highlighted-background-color: #999;
  --highlighted-color: white;
  --error-color: white;
  --error-background-color: red;
  --weight-1-background-color: #fafafa;
  --weight-1-color: black;
  --weight-2-background-color: #f0f0f0;
  --weight-2-color: black;
  --weight-3-background-color: #ccc;
  --weight-3-color: black;
  --weight-4-background-color: #999;
  --weight-4-color: white;
  --border-2-color: #f0f0f0;
  --border-4-color: #999;
  --heading-background-color: transparent;
  --heading-color: #004000;
  --header-background-color: var(--weight-2-background-color);
  --header-color: var(--header-color);
  --header-cell-padding: .25em;
  --data-cell-padding: .25em;
  --incorrect-background-color: var(--gray-background-color);
  --incorrect-opaque-background-color: var(--gray-opaque-background-color);
  --incorrect-color: var(--gray-color);
  --incorrect-border-color: var(--gray-border-color);
  --dialog-background-color: white;
  --dialog-color: black;
  --dialog-border-color: gray;
  --dialog-shadow-color: #eee;
  --flavor-background-color: transparent;
  --flavor-background-foreground-color: black;
  --flavor-border-color: #004000;
  --selected-color: black;
  --selected-background-color: #eaecff;
  --active-color: black;
  --active-background-color: #deffe2;
  --paragraph-margin-block: 1em;
  --row-border: 1px #eee solid;
  --site-header-z-index: 1000;
  --data-header-z-index: 1001;
  --floating-z-index: 100000;
  --page-side-width: 300px;
  --site-logo-width: 107px;
  --timejs-serialization: dtsjp1;
}

html[data-site=world] {
  --flavor-border-color: #CCECCC;
}

html[data-site=antenna] {
  --flavor-background-color: rgb(255, 215, 215);
  --flavor-background-foreground-color: black;
  --flavor-border-color: rgb(255, 215, 215);
}

svg.defs {
  position: absolute;
  left: -100%;
  width: 0;
  overflow: hidden;
}

hgroup, h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
  background: var(--heading-background-color);
  font-size: 100%;
}

hgroup > h1, hgroup > h2 {
  margin: 0;
}



nav[is=sw-page-breadcrumbs] p {
  margin: 0;
  display: inline;
}

nav[is=sw-page-breadcrumbs] p + p::before {
  content: "  /  ";
  white-space: pre-wrap;
}

nav[is=sw-page-breadcrumbs] a:last-of-type {
  font-weight: bolder;
}
nav[is=sw-page-breadcrumbs] a:last-of-type:not(:hover):not(:active):not(:focus) {
  color: inherit;
  background: transparent;
  text-decoration: none;
}



table {
  width: 100%;
  border-collapse: collapse;
}

table + table {
  margin-top: 1em;
}

caption {
  background: var(--heading-background-color);
  color: var(--heading-color);
}

colgroup + colgroup {
  border-left: 1px #eee solid;
}

tr {
  border-top: var(--row-border);
  border-bottom: var(--row-border);
}

th, td {
  padding: .25rem .5rem;
}

td.long {
  vertical-align: top;
}

thead th {
  position: sticky;
  top: 0;
  background-color: var(--header-background-color);
  color: var(--header-color);
  z-index: var(--data-header-z-index);
}

tbody th {
  width: 30%;
  text-align: right;
  vertical-align: top;
}

tbody th:last-of-type::after {
  content: ": ";
}

table.nnv > tbody > tr > th {
  width: auto;
}

td > a:only-child:not(.inline) {
  display: block;
}

action-status:not([hidden]) {
  display: block;
}
action-status {
  padding: 1em;
  background-color: var(--gray-background-color);
  color: var(--gray-color);
  text-align: center;
  font-size: 200%;
}

action-status-message {
  font-size: 200%;
}

action-status progress:not([hidden]) {
  display: block;
  width: 100%;
  font-size: 200%;
}

toast-box {
  margin: 1em;
  border: 1px solid var(--dialog-border-color);
  padding: .5em;
  background-color: var(--dialog-background-color);
  color: var(--dialog-color);
  box-shadow: 3px 3px var(--dialog-shadow-color);
  font-size: 90%;
}

toast-box-main {
  padding-right: .5em;
}

button {
  cursor: pointer;
}

output:lang(ar) {
  direction: rtl;
}

code {
  color: #800000;
  background: transparent;
  font-family: "Courier New", monospace;
  word-break: break-all;
}

sw-data-char.active {
  background: var(--selected-background-color);
  color: var(--selected-color);
}

.char-sample:not([hidden]) {
  display: inline-block;
}
.char-sample {
  min-width: 1em;
  min-height: 1em;
  border: 1px solid var(--gray-border-color);
  line-height: 1;
  vertical-align: middle;
}

.char-sample:empty::after {
  content: "\FFFD";
  background-color: var(--error-background-color);
  color: var(--error-color);
  font-size: 10px;
  line-height: 1.0;
  letter-spacing: 0;
  vertical-align: middle;
}

.char-sample.ltr {
  writing-mode: horizontal-tb;
  direction: ltr;
  unicode-bidi: embed;
}
.char-sample.rtl {
  writing-mode: horizontal-tb;
  direction: rtl;
  unicode-bidi: embed;
}
.char-sample.ttb {
  writing-mode: vertical-rl;
}

@font-face {
  font-family: 'LigatureSymbols';
  src: url('/fonts/LigatureSymbols.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.lsf-icon::before {
  font-family: 'LigatureSymbols';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  content: attr(data-icon);
  font-size: 120%;
  margin-right: 0.3em;
  line-height: 1.0;
}

.font-glyph {
  vertical-align: bottom;
  overflow: visible;
}

canvas.font-glyph {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}


td.copy {
  width: 2em;
  text-align: right;
}

td.copy button,
can-copy button {
  font-size: 80%;
  cursor: pointer;
  border-style: none;
  -webkit-appearance: none;
  line-height: 1.4;
  background: var(--gray-background-color);
  color: var(--gray-color);
}

td.copy button:not(:hover) {
  background: transparent;
  color: gray;
}

sw-era-transition-graph .year-header can-copy button,
th.year-header can-copy button,
td.year-header can-copy button,
.transitions > tbody > tr > .day .info can-copy button,
.era-code-list can-copy button,
sw-label-set can-copy button {
  zoom: 0.6;
  line-height: 2.8;
  vertical-align: middle;
}

.era-code-list sw-data-char can-copy:not([hidden]),
.era-code-list .cid-list can-copy:not([hidden]) {
  display: block;
}

.era-code-list sw-data-char can-copy .charname:not([hidden]) {
  display: block;
}

sw-char-fonts figure:not([hidden]) {
  display: inline-block;
}
sw-char-fonts figure {
  margin: 0 1em 0 0;
  padding: 0;
  text-align: center;
}

sw-char-fonts figcaption {
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-align: center;
  font-size: 80%;
}

sw-char-fonts .char-sample {
  font-size: 600%;
}

.char-item:not([hidden]) {
  display: block;
}
.char-item {
  width: min-content;
  min-width: 6em;
  padding: var(--data-cell-padding);
  text-align: center;
}
.char-item:not(:focus):not(:hover):not(:active) {
  text-decoration: none;
  color: inherit;
  background: transparent;
}

.char-item .char-sample {
  font-size: 200%;
}

.in-cluster .char-item .char-sample {
  color: var(--active-color);
  background: var(--active-background-color);
}

.char-item > code:not([hidden]) {
  display: block;
}
.char-item > code {
  font-size: 80%;
  line-height: 1;
}


.char-rel-list {
  margin: 0;
  padding: 0;
  font-size: 75%;
  line-height: 1.0;
}

.char-rel-list > li:not([hidden]) {
  display: block;
}
.char-rel-list > li {
  margin: 0;
  padding: 0;
}

sw-char-cluster > ul:not([hidden]]) {
  display: block;
}
sw-char-cluster > ul {
  margin: 0;
  padding: 0;
}

sw-char-cluster > ul > li:not([hidden]) {
  display: inline-block;
}
sw-char-cluster > ul > li {
  margin: 0;
  padding: 0;
  vertical-align: top;
}

sw-char-cluster > ul > li > ul > li:not([hidden]) {
  display: flex;
}
sw-char-cluster > ul > li > ul > li {
  flex-direction: row-reverse;
  align-items: center;
  width: fit-content;
  margin-left: auto;
  border-bottom: var(--row-border);
  padding: var(--data-cell-padding) 0;
}

sw-char-cluster > ul > li > ul > li > .char-rel-list {
  max-width: 15em;
  text-align: end;
}

sw-char-cluster > ul > li > ul > li > .char-rel-list code::before {
  content: " → ";
}
sw-char-cluster > ul > li > ul > li > .char-rel-list code::after {
  content: " → ";
}

sw-char-leaders:not([hidden]) {
  display: block;
}
sw-char-leaders {
  margin-bottom: .5em;
  text-align: end;
}

sw-char-leaders figure:not([hidden]) {
  display: inline-block;
}
sw-char-leaders figure {
  margin: 0 .25em;
  padding: 0;
  text-align: center;
  vertical-align: top;
  min-width: 3em;
}

sw-char-leaders .char-item {
  min-width: 3em;
}

sw-char-leaders figcaption {
  font-size: 80%;
}

sw-char-routes > list-main > ol:not([hidden]) {
  display: inline-block;
}
sw-char-routes > list-main > ol {
  width: fit-content;
  margin: 0 1em 1em 0;
  border-top: var(--row-border);
  padding: var(--data-cell-padding);
  text-align: center;
  vertical-align: top;
}

sw-char-routes > list-main > ol > li:not([hidden]) {
  display: block;
}
sw-char-routes > list-main > ol > li {
  margin: 0;
  padding: 0;
}

sw-char-routes list-main sw-data-char:not([hidden]) {
  display: block;
}
sw-char-routes list-main sw-data-char {
  width: fit-content;
  margin: 0 auto;
}

sw-char-routes .char-item {
  margin: 0 auto;
}

sw-char-routes .char-rel-list {
  margin-top: var(--paragraph-margin-block);
  margin-bottom: var(--paragraph-margin-block);
  max-width: 20em;
}
sw-char-routes .char-rel-list::before,
sw-char-routes .char-rel-list::after {
  content: "↓";
  background: var(--gray-background-color);
  color: var(--gray-color);
}


#yearless-date ul {
  padding: 0;
}

#birthday ul {
  -webkit-column-width: 10em;
  column-width: 10em;
}

#events ul {
  -webkit-column-width: 15em;
  column-width: 15em;
}

#yearless-date ul > li {
  display: block;
}

#events ul > li {
  font-size: 80%;
}

#yearless-date ul > li > a:first-child {
  font-weight: bolder;
}

#events ul > li > a:first-child {
  font-weight: normal;
}

#yearless-date ul > li > .desc {
  font-size: 80%;
}

table.years {
  display: block;
  margin: 1em;
}

table.years > tbody {
  display: block;
}

table.years > tbody > tr {
  display: inline-block;
  margin-right: 1em;
}

table.years > tbody > tr > th,
table.years > tbody > tr > td {
  display: inline;
  width: auto;
}



section.go-data,
section.ksj-data {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: black;
  border: 1px solid #aaa;
  padding: 0.3em 0.5em;
  background: #f9f9f9;
}

section.ksj-data {
  min-height: 52px;
}

section.go-data > h1 {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

section.go-data table,
section.ksj-data table {
  width: 100%;
  margin: 0.3em;
  margin-bottom: 0;
}

section.ksj-data caption {
  text-align: left;
}

section.ksj-data caption strong {
  font-size: 120%;
}

section.go-data tbody,
section.ksj-data tbody {
  font-size: 90%;
}

section.go-data tr,
section.ksj-data tr {
  border-style: none;
}

section.go-data th,
section.ksj-data th {
  text-align: left;
}

section.go-data figure {
  margin: 0;
  padding: 0;
}

section.go-data figure img {
  max-width: 10em;
  max-height: 10em;
}

section.go-data ul.links:not([hidden]) {
  display: inline;
}
section.go-data ul.links {
  margin: 0;
  padding: 0 0 0 1em;
}

section.go-data ul.links:empty {
  display: none;
}

section.go-data ul.links > li:not([hidden]) {
  display: inline;
}
section.go-data ul.links > li {
  font-size: 90%;
  margin-right: 1em;
  padding: 0;
}

section.go-data ul.links > li.source a {
  color: gray;
}

section.ksj-data footer {
  margin: 0;
  border-style: none;
  padding-top: 0;
  text-align: right;
  font-size: 75%;
  color: gray;
}




.child-spots {
  margin-top: 1em;
  margin-bottom: 1em;
  -webkit-column-count: 2;
  column-count: 2;
}

.child-spots section:not([hidden]) {
  display: block;
}
.child-spots section {
  margin-bottom: 1em;
  -webkit-column-break-inside: avoid;
  column-break-inside: avoid;
}

.child-spots section h1 {
  display: block;
  margin: 0 0 1em 0;
  border-bottom: 1px solid var(--flavor-border-color);
  padding-bottom: 0.1em;
  font-size: 110%;
}

.child-spots section h1 a {
  color: inherit;
  text-decoration: none;
}

.child-spots section h1 ruby {
  display: inline;
}

.child-spots section h1 ruby rt {
  display: inline;
  font-size: 40%;
  font-weight: normal;
}

.child-spots section ul {
  margin: 0 1em;
  padding: 0;
}

.child-spots section ul li {
  display: block;
  margin: 0;
  margin-left: 0.5em;
  padding: 0;
  font-size: 90%;
  text-indent: -1em;
}

.child-spots section ul li::before {
  content: "\25B6   ";
  white-space: pre;
}

.child-spots > ul {
  margin: 0;
  padding: 0;
}

.child-spots > ul > li {
  display: block;
  margin: 0;
  padding: 0;
}



.additional-names {
  padding: 0;
}

.additional-names li {
  display: block;
  text-align: left;
}

.additional-names li ruby {
  display: inline;
  font-weight: bolder;
}

.additional-names li ruby rt {
  display: inline;
  margin-left: .8em;
  font-size: 80%;
  letter-spacing: 0.2em;
  font-weight: normal;
}




hgroup a,
a[rel~=bookmark] {
  color: inherit;
  background: transparent;
  text-decoration: none;
}

:-webkit-any(a:not([rel~=bookmark]), button):-webkit-any(:hover, :active, :focus) {
  background-color: #ffa;
  color: black;
  text-decoration: underline;
}

:-webkit-any(.list-prev, .list-next) {
  appearance: none;
  width: 100%;
  background: transparent;
  color: inherit;
  border-style: none;
  text-align: center;
  cursor: pointer;
}

.error {
  color: red;
}

.toc {
  margin: .3rem 0;
  padding: 0;
  font-size: 90%;
}

.toc > li {
  display: inline-block;
  margin: .1rem .3em .1rem .1rem;
  padding: .1rem;
}

.toc > li > a {
  display: block;
  text-decoration: none;
  border-bottom: 1px dashed;
  padding-bottom: .1rem;
}

.toc > li > a::before {
  content: "\A7  ";
}

.toc > li > a:hover {
  text-decoration: none;
}


section.summary:not([hidden]) {
  display: block;
}
section.summary {
  margin: 1em;
}

section.summary h1 {
  margin: 0;
  border: none;
  padding: 0;
  font-size: 100%;
  line-height: 1.2;
}

section.summary blockquote {
  margin: 0;
}

section.summary p {
  margin: 0;
  text-indent: 1em;
  line-height: 1.2;
}

section.summary cite {
  display: block;
  font-size: 70%;
  color: #ccc;
  text-align: right;
  line-height: 1.2;
  font-style: italic;
}

section.summary cite::before {
  content: "\2015\2015  ";
}

section.summary cite a {
  color: inherit;
  text-decoration: none;
}


input, textarea, select {
  border: 1px solid var(--flavor-border-color);
  padding: .2em;
}

form.input {
  padding: .2rem;
}

form.input > input {
  width: 80%;
  padding: .2rem;
}

form.input > button {
  min-width: 5em;
  cursor: pointer;
  padding: .2rem;
}

.search-form:not([hidden]) {
  display: flex;
}
.search-form {
  flex-wrap: wrap;
  padding-top: .5em;
  padding-bottom: .5em;
}

.search-form input {
  flex: 2;
  font-size: 120%;
}

.search-form button {
  min-width: 5em;
  font-size: 120%;
}

.nearby {
  margin: 0;
  text-align: right;
  font-size: 90%;
}

nav.nearby {
  margin-left: auto;
  margin-right: auto;
  border: #ccc 1px solid;
  border-radius: .2rem;
  padding: .2rem .5rem;
  max-width: 25em;
  text-align: left;
  background: #eee;
  color: black;
}

nav.nearby ul {
  margin: 0;
  text-align: right;
}

nav.nearby ul > li {
  display: inline-block;
  margin: 0 0.5em;
  padding: 0;
}

nav.nearby ul > li > a {
  display: block;
  min-width: 5em;
  text-align: center;
}

.item-list {
  padding: 0;
  -webkit-column-width: 5em;
  column-width: 5em;
}

.item-list > li {
  display: block;
  margin: 0;
  padding: 0;
}

.item-list > li > a {
  display: block;
}

.menu-list:not([hidden]),
.era-year-list:not([hidden]) {
  display: block;
}

.menu-list {
  column-width: 20em;
}

.menu-list list-item:not([hidden]),
.era-year-list list-item:not([hidden]) {
  display: block;
}

.menu-list list-item {
  break-inside: avoid;
}

.menu-list :-webkit-any(a, .list-prev, .list-next):not([hidden]),
.era-year-list :-webkit-any(.list-prev, .list-next):not([hidden]) {
  display: block;
}

.menu-list :-webkit-any(.list-prev, .list-next),
.era-year-list :-webkit-any(.list-prev, .list-next) {
  font-size: 200%;
  padding: .3em;
}

.menu-list a:not(:active):not(:hover):not(:focus) {
  text-decoration: none;
}

.menu-list a {
  padding: .6em;
}

.menu-list a > bdi {
  font-size: 200%;
}

.menu-list a .year-range {
  margin: 0;
  text-align: right;
  text-decoration: none;
  font-size: 80%;
  line-height: 1.0;
}

.era-year-list list-item {
  margin-bottom: .5em;
}

.era-year-list p {
  margin: 0;
}

.era-year-list .main {
  background-color: var(--weight-2-background-color);
  color: var(--weight-2-color);
  padding: .3em;
}

.era-year-list .known-era-year-true .main {
  background-color: var(--weight-3-background-color);
  color: var(--weight-3-color);
}

.era-year-list .era-year-true {
  background-color: var(--weight-1-background-color);
  color: var(--weight-1-color);
}

.era-year-list .main a:not([hidden]) {
  display: block;
}
.era-year-list .main a:not(:focus):not(:active):not(:hover),
.era-year-list .day a:not(:focus):not(:active):not(:hover) {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}
.era-year-list .main a {
  font-size: 200%;
}

.era-year-list .info {
  padding: .3em;
}

.era-related-list list-item:not([hidden]) {
  display: inline-block;
}
.era-related-list list-item {
  min-width: 10em;
  vertical-align: top;
}

.era-related-list a:not([hidden]) {
  display: block;
}
.era-related-list a {
  padding: .25em;
}

.era-related-list bdi {
  font-size: 120%;
  font-weight: bolder;
}

sw-data-year .era-prefix:not([hidden]),
.menu-list .era-prefix:not([hidden]),
.era-list-item .era-prefix:not([hidden]),
.era-related-list .era-prefix:not([hidden]) {
  display: block;
}
sw-data-year .era-prefix,
.menu-list .era-prefix,
.era-list-item .era-prefix,
.era-related-list .era-prefix {
  line-height: 1;
}

sw-data-year .era-prefix bdi,
.menu-list .era-prefix bdi,
.era-list-item .era-prefix bdi,
.era-related-list .era-prefix bdi {
  font-weight: normal;
  font-size: 90%;
}

.era-related-list .year-range {
  margin: 0;
  text-align: end;
  font-size: 90%;
}

.era-related-list .info {
  margin: 0 0.25em 0.25em 0.25em;
  background-color: var(--gray-background-color)
  color: var(--gray-color);
  font-size: 90%;
}

.era-related-list a:not(:active):not(:focus):not(:hover),
.era-kanshi-table a:not(:active):not(:focus):not(:hover),
p sw-data-era a:not(:active):not(:focus):not(:hover) {
  text-decoration: none;
}

.transitions .info {
  padding: 0;
  font-size: 90%;
  color: var(--gray-color);
  background-color: var(--gray-background-color);
}

.transitions > tbody > tr > .type {
  text-align: center;
}

.transitions > tbody > tr > .type enum-value {
  white-space: pre;
}

.transitions > tbody > tr > .day {
  line-height: 1.0;
}

.transitions > tbody > tr > .day > div[data-hidden-field=day_range_hidden]:not([hidden]) {
  font-size: 80%;
}

.transitions > tbody > tr > .day > div[data-hidden-field=day_range_hidden] > *:not([hidden]) {
  display: block;
}
.transitions > tbody > tr > .day > div[data-hidden-field=day_range_hidden] > sw-data-day {
  border: solid #eee .25em;
  padding: .5em;
}
.transitions > tbody > tr > .day > div[data-hidden-field=day_range_hidden] > sw-data-day:first-of-type {
  border-style: solid none none solid;
}
.transitions > tbody > tr > .day > div[data-hidden-field=day_range_hidden] > sw-data-day:last-of-type {
  border-style: none solid solid none;
}
.transitions > tbody > tr > .day > div[data-hidden-field=day_range_hidden] > p {
  text-align: center;
}

.transitions > tbody > tr > .day .full-date,
.transitions > tbody > tr > .day enum-value,
.transitions > tbody > tr > .day a {
  white-space: nowrap;
  text-align-last: justify;
}

.transitions > tbody > tr > .day .full-date {
  margin-left: 1em;
  font-size: 80%;
}
.transitions > tbody > tr > .day .full-date span,
.transitions > tbody > tr > .day .full-date .leap {
  font-size: 130%;
  font-weight: bolder;
}

.transitions > tbody > tr > .day .info {
  margin: 0;
  color: inherit;
  background-color: transparent;
  line-height: 1.3;
}

.transitions > tbody > tr > .neighbors {
  white-space: nowrap;
}

.transitions > tbody > tr > .neighbors sw-data-year {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.transitions > tbody > tr > .neighbors a:not([hidden]),
.transitions > tbody > tr > .neighbors code:not([hidden]) {
  display: block;
}
.transitions > tbody > tr > .neighbors a {
  white-space: nowrap;
  line-height: 1.1;
}
.transitions > tbody > tr > .neighbors code {
  white-space: nowrap;
  line-height: 1;
}

.transitions > tbody > tr > .neighbors .era-name {
  font-size: 130%;
  font-weight: bolder;
}
.transitions > tbody > tr > .neighbors a:not(:active):not(:focus):not(:hover) {
  text-decoration: none;
}

.delta-first-day:not([hidden]) {
  display: block;
}
.delta-first-day {
  text-align: center;
  font-size: 80%;
}

.delta-first-day unit-number {
  font-weight: bold;
  font-size: 120%;
}

.transitions > tbody > tr > .tags {
  font-size: 80%;
  font-weight: normal;
}

.transition-type-firstday > td.type,
.transition-type-commenced > td.type {
  color: var(--highlighted-color);
  background-color: var(--highlighted-background-color);
}

.transition-type-firstday\/incorrect,
.transition-type-prevfirstday\/incorrect,
.transition-type-commenced\/incorrect,
.transition-type-proclaimed\/incorrect,
.transition-type-wartime\/incorrect,
.transition-type-administrative\/incorrect,
.transition-type-triggering\/incorrect {
  color: var(--incorrect-color);
  background-color: var(--incorrect-background-color);
  text-decoration: line-through;
}

.transition-type-prevfirstyearstart > td.neighbors,
.transition-type-firstyearstart > td.neighbors,
.transition-type-prevfirstday > td.neighbors,
.transition-type-lastyearend > td.neighbors,
.transition-type-nextlastyearend > td.neighbors,
.transition-type-triggering > td.neighbors,
.transition-type-triggering\/possible > td.neighbors,
.transition-type-deviated > td.neighbors {
  opacity: 0.3;
}

.incorrect-旧説 bdi[data-field=name] {
  text-decoration: line-through !important;
}

sw-tags a {
  text-decoration: none;
}

sw-tags a::before {
  content: "#";
}

#eras tbody tr:nth-child(6n-5),
#eras tbody tr:nth-child(6n-4),
#eras tbody tr:nth-child(6n-3) {
  background: #eee;
  color: black;
}

#eras tbody th {
  width: auto;
  text-align: center;
}

#eras tbody th::after {
  content: none;
}

#eras td[colspan] {
  text-align: center;
}

#eras td a {
  color: inherit;
  text-decoration: none;
}

.test-result .boolean-true > a {
  color: white;
  background: green;
  text-align: center;
}

.test-result .boolean-false > a {
  color: white;
  background: red;
  text-align: center;
}

td > .error-list {
  margin: 0;
  padding: 0;
}

td > .error-list > li {
  display: block;
  margin: 0;
  margin-bottom: 0.5rem;
  padding: 0;
}

.extlang td > p {
  margin: 0;
}

.rfc2119 {
  font-weight: bolder;
  font-style: normal;
  text-transform: lowercase;
  font-variant: small-caps;
}

dfn {
  font-weight: bolder;
  font-style: normal;
}

a.active {
  font-weight: bolder;
  text-decoration: none;
  color: inherit;
  background: transparent;
}

sw-era-transition-graph:not([hidden]) {
  display: block;
}
sw-era-transition-graph {
  position: relative;
}

sw-era-transition-graph a:not(:active):not(:focus):not(:hover),
th.year-header a:not(:active):not(:focus):not(:hover),
td.year-header a:not(:active):not(:focus):not(:hover),
.era-year-list .year-header a:not(:active):not(:focus):not(:hover),
.era-list-item a:not(:active):not(:focus):not(:hover) {
  text-decoration: none;
}

sw-era-transition-graph foreignObject {
  overflow: visible;
}

sw-era-transition-graph foreignObject > div {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
}

sw-era-transition-graph .era-header {
  align-items: end;
  padding: .5em;
  line-height: 1.1;
  background: rgba(255, 255, 255, 0.7);
  color: black;
}

sw-era-transition-graph .era-header.bottom {
  align-items: start;
}

sw-era-transition-graph .era-header.selected.in-tag {
  background-color: var(--weight-2-background-color);
  color: var(--weight-2-color);
}

sw-era-transition-graph .era-header a:not([hidden]),
sw-era-transition-graph .era-header bdi:not([hidden]),
sw-era-transition-graph .era-header code:not([hidden]) {
  display: block;
}

sw-era-transition-graph .era-header bdi {
  font-weight: bolder;
}

sw-era-transition-graph .era-header.incorrect bdi {
  text-decoration: line-through;
}

sw-era-transition-graph .era-header code {
  line-height: 1.0;
  font-size: 80%;
}

sw-era-transition-graph .year-header {
  justify-content: end;
  text-align: right;
  padding: .5em;
  line-height: 1.1;
}

th.year-header {
  font-weight: normal;
}

th.year-header:last-of-type::after {
  content: none;
}

sw-era-transition-graph .year-header.right {
  justify-content: start;
  text-align: left;
}

sw-era-transition-graph .year-header.this-year {
  background-color: var(--weight-2-background-color);
  color: var(--weight-2-color);
}

th.year-header p,
td.year-header p,
sw-era-transition-graph .year-header p {
  margin: 0;
  font-size: 80%;
}

.era-year-list .year-header p:not([hidden]) {
  display: inline-block;
}
.era-year-list .year-header p {
  padding: .3em;
  font-size: 110%;
}

.era-year-list .year-header data[data-field=eraValue],
.era-year-list .year-header data[data-field=value],
th.year-header data[data-field=eraValue],
th.year-header data[data-field=value],
td.year-header data[data-field=eraValue],
td.year-header data[data-field=value],
sw-era-transition-graph .year-header data[data-field=eraValue],
sw-era-transition-graph .year-header data[data-field=value] {
  margin-left: .3em;
  margin-right: .3em;
  font-weight: bolder;
}
.era-year-list .year-header p data[data-field=value],
.era-year-list .year-header p data[data-field=eraValue],
.era-year-list .year-header p sw-data-kanshi data,
th.year-header p:first-child data[data-field=eraValue],
td.year-header p:first-child data[data-field=eraValue],
sw-era-transition-graph .year-header p:first-child data[data-field=eraValue] {
  font-size: 130%;
}

sw-era-transition-graph line {
  stroke: black;
  stroke-width: 1px;
}

sw-era-transition-graph .era-line {
  stroke: var(--border-4-color);
  stroke-width: 5px;
}

sw-era-transition-graph .era-known-line {
  stroke: var(--border-4-color);
  stroke-dasharray: 8, 3;
}

sw-era-transition-graph .era-continue-line {
  stroke: var(--border-2-color);
  stroke-dasharray: 8, 3;
}

sw-era-transition-graph .era-line.incorrect {
  stroke: var(--incorrect-border-color);
}

sw-era-transition-graph .era-transition {
  marker-end: url(#arrow);
}
sw-era-transition-graph .era-transition.transition-wartime,
sw-era-transition-graph .era-transition.transition-wartime\/possible,
sw-era-transition-graph .era-transition.transition-wartime\/incorrect,
sw-era-transition-graph .era-transition.tag-1359 /* 起事建元 */ {
  stroke-dasharray: 6 2;
}

sw-era-transition-graph .era-transition.transition-firstday\/canceled {
  stroke: var(--incorrect-border-color);
  marker-end: url(#arrow-incorrect);
}

sw-era-transition-graph .era-transition.transition-firstday\/incorrect,
sw-era-transition-graph .era-transition.transition-administrative\/incorrect,
sw-era-transition-graph .era-transition.transition-commenced\/incorrect,
sw-era-transition-graph .era-transition.transition-wartime\/incorrect {
  stroke: var(--incorrect-border-color);
  marker-end: url(#arrow-incorrect);
}

sw-era-transition-graph .era-transition-sequence-line {
  stroke: rgba(255, 165, 0, 0.6);
  stroke-width: 5px;
}
sw-era-transition-graph .era-transition-sequence-line.in-sequence-1 {
  stroke: rgba(165, 255, 0, 0.6);
}
sw-era-transition-graph .era-transition-sequence-line.in-sequence-2 {
  stroke: rgba(0, 165, 255, 0.6);
}
sw-era-transition-graph .era-transition-sequence-line.in-sequence-3 {
  stroke: rgba(0, 255, 165, 0.6);
}
sw-era-transition-graph .era-transition-sequence-line.in-sequence-4 {
  stroke: rgba(255, 0, 165, 0.6);
}
sw-era-transition-graph .era-transition-sequence-line.in-sequence-5 {
  stroke: rgba(165, 0, 255, 0.6);
}
sw-era-transition-graph .era-transition-sequence-line.in-sequence-6 {
  stroke: rgba(255, 165, 165, 0.6);
}
sw-era-transition-graph .era-transition-sequence-line.in-sequence-7 {
  stroke: rgba(165, 255, 165, 0.6);
}
sw-era-transition-graph .era-transition-sequence-line.in-sequence-8 {
  stroke: rgba(165, 165, 255, 0.6);
}
sw-era-transition-graph .era-transition-sequence-line.in-sequence-9 {
  stroke: rgba(255, 165, 255, 0.6);
}
sw-era-transition-graph .era-transition-sequence-line.in-sequence-10 {
  stroke: rgba(255, 255, 165, 0.6);
}
sw-era-transition-graph .era-transition-sequence-line.in-sequence-11 {
  stroke: rgba(165, 255, 255, 0.6);
}

sw-era-transition-graph text {
  text-anchor: middle;
  dominant-baseline: central;
}

sw-era-transition-graph .era-year-number {
  margin: 0 auto;
  width: min-content;
  min-width: 1.5em;
  padding: 0.25em;
  border: 1px solid currentcolor;
  border-radius: 1em;
  background: white;
  color: black;
  line-height: 1.0;
  font-size: 90%;
}

sw-era-transition-graph .era-year-number.incorrect {
  color: var(--incorrect-color);
  background-color: var(--incorrect-opaque-background-color);
}

sw-era-transition-graph .era-line-cover {
  stroke: rgba(255, 255, 255, 0.7);
  stroke-width: 20px;
}

sw-era-transition-graph .year-number-cover {
  fill: rgba(255, 255, 255, 0.7);
}

sw-era-transition-graph .year-border {
  stroke: var(--border-2-color);
  stroke-dasharray: 6 2;
}

sw-era-transition-graph .year-boundary {
  font-size: 48px;
  white-space: pre;
  text-decoration: underline;
  text-decoration-style: wavy;
  color: var(--border-2-color);
  background: transparent;
  user-select: none;
}

table[is=sw-era-list-by-first-year] tbody > tr:first-child {
  border-top: var(--border-2-color) solid 6px;
}

.era-list-item:not([hidden]) {
  display: inline-block;
}
.era-list-item {
  margin: .5em;
  min-inline-size: 10em;
}

.era-list-item a:not([hidden]) {
  display: block;
}

.era-list-item bdi {
  font-size: 120%;
  font-weight: bolder;
}

.era-list-item .year-range {
  margin: 0;
  font-size: 90%;
  text-align: right;
}

.era-kanshi-table thead th a:not([hidden]) {
  display: block;
}

.era-kanshi-table thead th sw-data-era {
  font-weight: normal;
}

.era-kanshi-table thead th sw-data-era bdi {
  font-weight: bolder;
}

.era-kanshi-table thead th code:not([hidden]) {
  display: block;
}

.era-kanshi-table tbody th {
  width: 8em;
  text-align: center;
  font-weight: normal;
}

.era-kanshi-table tbody th::after {
  content: none;
}

.era-kanshi-table tbody th a:not([hidden]) {
  display: block;
}

.era-kanshi-table tbody th data[data-field=label]:not([hidden]) {
  display: block;
}

.era-kanshi-table tbody th data[data-field=label] {
  font-weight: bolder;
}

.era-kanshi-table th.active {
  background-color: var(--weight-3-background-color);
  color: var(--weight-3-color);
}

.era-kanshi-table td.active {
  background-color: var(--weight-2-background-color);
  color: var(--weight-2-color);
}

.era-code-list:not([hidden]) {
  display: table;
}
.era-code-list {
  writing-mode: vertical-lr;
  border-collapse: collapse;
  margin: var(--paragraph-margin-block) 0;
}

.era-code-list > div:not([hidden]) {
  display: table-row;
}

.era-code-list > div > dt,
.era-code-list > div > dd {
  writing-mode: horizontal-tb;
  margin: 0;
  padding: 0.25em;
  text-align: center;
}

.era-code-list > div > dt:not([hidden]) {
  display: table-cell;
}
.era-code-list > div > dt {
  background-color: var(--header-background-color);
  color: var(--header-color);
  padding: var(--header-cell-padding);
  font-weight: bolder;
  min-width: 3em;
  width: min-content;
  line-height: 1.0;
  vertical-align: middle;
}

.era-code-list > div > dd:not([hidden]) {
  display: table-cell;
}
.era-code-list > div > dd {
  padding: var(--data-cell-padding);
}

.era-code-list .source-name:not([hidden]) {
  display: block;
}
.era-code-list .source-name {
  margin-top: .25em;
  font-size: 75%;
  font-weight: normal;
  line-height: 1.0;
  color: var(--gray-color);
  background-color: var(--gray-background-color);
}

.era-code-list .cid-list code:not([hidden]) {
  display: block;
}

.era-code-list .charcode-hex:not([hidden]) {
  display: block;
}
.era-code-list .charcode-hex {
  font-size: 80%;
}

.era-code-list unit-number {
}

.era-code-list number-value {
  padding-left: .25em;
  padding-right: .25em;
  font-size: 120%;
  font-weight: bolder;
}

.era-code-list number-unit {
  font-size: 90%;
}

.era-code-list .info {
  font-size: 75%;
  color: var(--gray-color);
  background-color: var(--gray-background-color);
}

.era-code-list .missing dd {
  font-size: 80%;
  width: min-content;
  vertical-align: middle;
}

.era-code-list .missing a + a {
  margin-left: .5em;
}

.era-code-list code {
  font-size: 120%;
  font-weight: bolder;
}

.era-code-list .charname,
.era-code-list .char-ja-name {
  font-size: 80%;
}

.era-code-list .char-sample {
  font-size: 250%;
}

.label-set-list section {
}

.label-set-list h1 {
}

.label-set-list 

sw-label-set > ul:not([hidden]) {
  display: block;
}
sw-label-set > ul {
  margin: 0 0 1em 0;
  padding: 0;
}

sw-label-set > ul > li:not([hidden]) {
  display: block;
}
sw-label-set > ul > li {
  margin: 0;
  border: 1px none var(--gray-border-color);
  padding: var(--data-cell-padding);
}
sw-label-set > ul > li:not(:first-child) {
  border-style: solid none none none;
}

sw-label-set dl:not([hidden]) {
  display: inline-block;
}
sw-label-set dl {
  margin: 0;
  vertical-align: top;
}

sw-label-set dl > div:not([hidden]) {
  display: inline-block;
}
sw-label-set dl > div {
  vertical-align: top;
}

sw-label-set dt,
sw-label-set dd {
  margin: 0;
  padding: var(--header-cell-padding);
  min-width: 10em;
  text-align: center;
}

sw-label-set dt {
  background-color: var(--header-background-color);
  color: var(--header-color);
  font-weight: bolder;
  line-height: 1.0;
  vertical-align: middle;
}

sw-label-set dd {
}

sw-label-set div.expanded {
  writing-mode: vertical-lr;
}

sw-label-set div.expanded > dt:not([hidden]) {
}
sw-label-set div.expanded > dt {
  min-width: 0;
}

sw-label-set div.expanded > dd {
  writing-mode: horizontal-tb;
  min-width: 0;
}

sw-label-set dd ul:not([hidden]) {
  display: inline-block;
}
sw-label-set dd ul {
  margin: 0;
  padding: 0;
  vertical-align: top;
  min-width: 5em;
}

sw-label-set dd ul + ul {
  margin-inline-start: .5em;
}

sw-label-set dd li:not([hidden]) {
  display: block;
}
sw-label-set dd li {
  margin: 0;
  padding: 0;
}

sw-label-set .label-info-caption:not([hidden]) {
  display: inline-block;
}
sw-label-set .label-info-caption {
  padding: var(--header-cell-padding);
  vertical-align: middle;
}

sw-label-set div.expanded > dt,
sw-label-set > ul > li > .label-info-caption {
  writing-mode: vertical-rl;
  background-color: var(--header-background-color);
  color: var(--header-color);
  line-height: 1.0;
  font-weight: bolder;
  height: 5em;
  text-align: start;
}

sw-label-set dd .label-info-caption {
  min-width: 5em;
  font-size: 70%;
  text-align: end;
  color: var(--gray-color);
  background-color: var(--gray-background-color);
}

sw-label-set bdi.primary {
  font-size: 150%;
  font-weight: bolder;
}

sw-label-set ul:not(:first-child) bdi.primary {
  font-size: 100%;
  line-height: 2;
}

.label-form-variant-ja_hiragana_wrong,
.label-form-variant-ja_latin_old_wrong {
  color: var(--incorrect-color);
  background-color: var(--incorrect-background-color);
  text-decoration: line-through;
}

sw-label-set .label-on-type:not([hidden]) {
  display: inline-block;
}
sw-label-set .label-on-type {
  margin: 2px;
  border: 1px solid currentcolor;
  border-radius: 4px;
  padding: 2px;
  font-size: 60%;
  line-height: 1.0;
  vertical-align: middle;
  writing-mode: vertical-rl;
  min-height: 24px;
}

.label-on-type-KG { background: yellowgreen; color: black }
.label-on-type-K { background: yellow; color: black }
.label-on-type-G { background: green; color: white }

sw-label-set .label-on-type span {
  writing-mode: horizontal-tb;
  font-size: 120%;
  min-width: 24px;
}

.matched-era-list:not([hidden]) {
}
.matched-era-list {
  writing-mode: vertical-rl;
  max-width: 100%;
  min-height: 15em;
  max-height: calc(90vh - 15em);
  overflow: auto;
  margin: 1em auto;
  padding: 0;
}

.matched-era-list > div:not([hidden]) {
  display: table-row;
}

.matched-era-list > div > dt:not([hidden]) {
  display: table-cell;
}
.matched-era-list > div > dt {
  writing-mode: horizontal-tb;
  min-width: 3em;
  padding: var(--header-cell-padding) calc(var(--header-cell-padding) + 0.25em);
  background-color: var(--header-background-color);
  color: var(--header-color);
  font-weight: bolder;
  text-align: center;
}

.matched-era-list > div > dd:not([hidden]) {
  display: table-cell;
}
.matched-era-list > div > dd {
  vertical-align: middle;
  border-right: 1px solid #eee;
}
.matched-era-list > div > dd:last-child {
  border-left: 1px solid #eee;
}

.matched-era-list > div.active > dd {
  background-color: var(--weight-1-background-color);
  color: var(--weight-1-color);
}

.matched-era-list list-is-empty {
  margin: .5em;
  font-size: 90%;
  color: var(--gray-color);
  background-color: var(--gray-background-color);
}

.year-numbers {
  text-align: center;
  line-height: 1.0;
}

.year-numbers.in-era-known-year {
}

.year-numbers.in-era-year {
  font-weight: bolder;
}

.year-numbers a:not([hidden]) {
  display: block;
}

.year-numbers a {
  min-width: 4em;
  opacity: 0.3;
}

.year-numbers.in-era-known-year a {
  opacity: 1;
}

.year-numbers .era-year:not([hidden]),
.year-numbers .ad-year:not([hidden]) {
  display: block;
}

.year-numbers .era-year {
  font-size: 200%;
}

.year-numbers .ad-year {
}

.year-numbers input.era-year {
  margin: .3em auto;
  width: 5em;
  text-align: center;
}

form[is=sw-calc-form] p {
  text-align: center;
  font-size: 120%;
}



sw-month-calendar table {
  margin: 1em auto;
  border-collapse: collapse;
  width: auto;
}

sw-month-calendar table caption time {
  font-weight: bolder;
  padding: .2em;
}

sw-month-calendar table caption a {
  padding: .2em;
  color: inherit;
  background: transparent;
  text-decoration: none;
  min-width: 2em;
}

sw-month-calendar table caption a:first-child {
  float: left;
}
sw-month-calendar table caption a:last-child {
  float: right;
}

sw-month-calendar table tr {
  border: none;
}

sw-month-calendar table td {
  border: none;
  padding: 0;
  text-align: center;
}

sw-month-calendar table td a {
  display: block;
  padding: .2em;
  color: black;
  text-decoration: none;
  min-width: 2em;
}

sw-month-calendar table td:nth-child(1) a:not(:focus):not(:active):not(:hover) {
  color: red;
}
sw-month-calendar table td:nth-child(7) a:not(:focus):not(:active):not(:hover) {
  color: blue;
}

sw-month-calendar table tbody .prev-month:not(:focus):not(:active):not(:hover),
sw-month-calendar table tbody .next-month:not(:focus):not(:active):not(:hover) {
  opacity: 0.3;
}


.map {
  width: 20em;
  height: 20em;
}

.map:empty {
  display: none;
}


sw-mi input[type=number] {
  width: 5em;
  margin: 0 .5em;
  vertical-align: middle;
  text-align: center;
  font-size: 140%;
  font-weight: bolder;
  font-family: sans-serif;
}

sw-mi output:not(:empty) {
  margin: 0 .5em;
  vertical-align: middle;
  text-align: center;
  font-size: 140%;
  font-weight: bolder;
  font-family: sans-serif;
}

sw-mi output:empty ~ button {
  display: none;
}

sw-mo {
  font-family: serif;
  font-size: 130%;
}

sw-mn {
  font-size: 130%;
  font-weight: bolder;
  font-family: sans-serif;
}

sw-mi can-copy:not([hidden]),
sw-mn can-copy:not([hidden]),
.era-code-list can-copy:not([hidden]) {
  display: inline-flex;
}
sw-mi can-copy,
sw-mn can-copy,
.era-code-list can-copy {
  flex-direction: column;
  align-items: center;
}

sw-mi can-copy button,
sw-mn can-copy button,
.era-code-list can-copy button {
  font-size: .8rem;
}



body {
  display: grid;
  grid-template:
      "page-header page-header page-header site-header" 
      "breadcrumbs clinks      side        side"        
      "pager1      pager1      side        side"        
      "main        main        side        side"        1fr
      "pager2      pager2      side        side"
      "fads        fads        side        side"
      "footer      footer      footer      footer"      
    /  2fr 1fr calc(var(--page-side-width) - var(--site-logo-width))
                                           var(--site-logo-width);
  --page-header-margin-right: var(--site-logo-width);
  min-height: 100vh;
}

body.has-large {
  grid-template:
      "page-header page-header site-header" 
      "breadcrumbs clinks      clinks"        
      "pager1      pager1      pager1"        
      "main        main        main"        1fr
      "pager2      pager2      pager2"        
      "fads        fads        fads"
      "side        side        side"
      "footer      footer      footer"      
    /  2fr         1fr         var(--site-logo-width);
  --page-header-margin-right: 0;
}

@media (max-width: 600px) {
  body {
    display: block;
    --page-header-margin-right: 0px;
  }
}

header.site {
  grid-area: site-header;
  line-height: 1.0;
  z-index: var(--site-header-z-index);
  align-self: end;
}

header.site h1 {
  margin: 0;
  text-align: end;
}

header.site h1 a {
  display: block;
  color: inherit;
  text-decoration: none;
  text-align: start;
}

body > article:not([hidden]) {
  display: contents;
}

header.page {
  grid-area: page-header;
}

header.page hgroup {
  margin: 0.3rem 0 0 0;
  margin-right: calc(-1 * var(--page-header-margin-right));
  padding: 0.3rem;
  padding-right: calc(0.3rem + var(--page-header-margin-right));
  border-bottom: 0.2rem solid;
  min-height: 65px;
  line-height: 1.0;
}

html[data-site=antenna] header.page hgroup {
  border-bottom: none;
  padding: 0.5rem;
  background: var(--flavor-background-color);
  color: var(--flavor-background-foreground-color);
}

html[data-site=world] header.page hgroup {
  border-bottom: #CCECCC solid 0.2em;
  padding: 0.5rem;
  background: #8C8;
  background: -webkit-gradient(linear, left top, right top, from(#8c8), to(#fef));
  color: #004000;
  text-shadow: 0.1em 0.1em #C0E0C0;
}

header.page hgroup h1 {
  font-size: 300%;
  letter-spacing: 0.1em;
}

header.page hgroup h2 {
  margin-top: 0.3rem;
  font-size: 120%;
}

header.page hgroup ruby {
  display: inline;
}

header.page hgroup ruby rt {
  display: inline;
  margin-left: 1em;
  font-size: 40%;
}

header.page hgroup ruby rt + rt {
  letter-spacing: 0.1em;
}

nav.content-links {
  grid-area: clinks;
  align-self: center;
  margin: 0;
  padding: 0.3rem;
  text-align: end;
  font-size: 120%;
}

nav[is=sw-page-breadcrumbs] {
  grid-area: breadcrumbs;
  align-self: center;
  margin: 0;
  padding: 0.3rem;
  font-size: 80%;
}

nav[is=sw-page-pager]:not([hidden]) {
  display: flex;
}
nav[is=sw-page-pager] {
  grid-area: pager1;
}
page-main + nav[is=sw-page-pager] {
  grid-area: pager2;
}

nav[is=sw-page-pager] > a {
  flex: 1;
  padding: .3em;
  font-size: 150%;
}

nav[is=sw-page-pager] > a:not(:focus):not(:active):not(:hover) {
  text-decoration: none;
}

nav[is=sw-page-pager] a:first-child {
  text-align: start;
}
nav[is=sw-page-pager] a:last-child {
  text-align: end;
}

nav[is=sw-page-pager] a:first-child::before {
  content: "<< ";
}
nav[is=sw-page-pager] a:last-child::after {
  content: " >>";
}

sw-antenna-recent-list ol {
  padding: 0;
}

sw-antenna-recent-list ol li:not([hidden]) {
  display: inline-block;
}
sw-antenna-recent-list ol li {
  font-size: 90%;
}
sw-antenna-recent-list ol li:nth-child(2) {
  font-weight: bolder;
}

.antenna-day-list list-item:not([hidden]) {
  display: block;
}
.antenna-day-list list-item {
  margin: .5em;
  color: black;
  background: rgb(245, 245, 230);
}
.antenna-day-list list-item:nth-child(2n) {
  color: black;
  background: rgb(255, 245, 230);
}

.antenna-day-list list-item a.blog-title:not([hidden]),
.antenna-day-list list-item h1 a:not([hidden]) {
  display: block;
}
.antenna-day-list list-item a.blog-title,
.antenna-day-list list-item h1 a {
  padding: .5em;
}
.antenna-day-list list-item a.blog-title:not(:focus):not(:active):not(:hover),
.antenna-day-list list-item h1 a:not(:focus):not(:active):not(:hover) {
  text-decoration: none;
  color: inherit;
  background: transparent;
}

.antenna-day-list header:not([hidden]) {
  display: grid;
}
.antenna-day-list header {
  grid-template: "blog-title  props"
                 "entry-title props"
                 "authors     authors" /
                  1fr         auto;
}

.antenna-day-list .blog-title {
  grid-area: blog-title;
  padding: 6px;
  line-height: 1.1;
  font-weight: bolder;
  font-style: italic;
}

.antenna-day-list h1 {
  grid-area: entry-title;
  margin: 0;
  padding: 0;
  font-size: 120%;
  line-height: 1.1;
}

.antenna-day-list h1 a {
  margin: 0;
  padding: 6px;
}
.antenna-day-list h1 a:link:not(:focus):not(:active):not(:hover){
  color: blue;
  background: transparent;
}
.antenna-day-list h1 a:visited:not(:focus):not(:active):not(:hover) {
  color: purple;
  background: transparent;
}

.antenna-day-list p {
  margin: 0;
}

.antenna-day-list .props {
  grid-area: props;
  padding: 6px;
}

.antenna-day-list .authors {
  grid-area: authors;
  padding: 6px;
  font-size: 90%;
  text-align: end;
}

.antenna-day-list .summary {
  margin: 0;
  padding: 6px;
  font-size: 80%;
  color: var(--gray-color);
  line-height: 1.1;
  background-color: var(--gray-background-color);
}

.antenna-day-list .summary p {
  text-indent: 0;
}

.antenna-day-list footer {
  font-size: 90%;
  text-align: end;
  color: var(--gray-color);
  background-color: var(--gray-background-color);
  text-align: end;
}

.antenna-day-list footer p:not([hidden]) {
  display: inline-block;
}
.antenna-day-list footer p {
  margin: 0 .5em;
}

page-main {
  grid-area: main;
  padding: 0.3rem;
}

page-intro:not([hidden]) {
  display: block;
}
page-intro {
  padding: 0 1em;
}

page-main section {
  padding: 0 1em;
  overflow: auto;
}

page-main section > h1 {
  margin: 0.5rem 0 1rem -1rem;
  border: .1rem;
  border-style: none none solid none;
  padding: 0.2rem 0.4rem;
  font-size: 150%;
}

page-main section section {
  padding: 0;
  overflow: visible;
}

page-main section section > h1 {
  margin: 0;
  border-style: none;
  padding: 0;
  font-size: 120%;
}

page-main section section > h1::after {
  content: ":";
}

page-main section section > h1 + .era-code-list {
  margin-top: 0;
}

page-side:not([hidden]) {
  display: block;
}
page-side {
  grid-area: side;
}

.has-large page-side {
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: static;
  overflow: hidden;
}

@media (max-width: 600px) {
  page-side {
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: static;
    overflow: hidden;
  }
}

page-side figure:not([hidden]) {
  display: block;
}
page-side figure {
  margin: 1em 0;
  padding: 0;
}

page-side figure img {
  max-height: var(--page-side-width);
  width: var(--page-side-width);
  max-width: var(--page-side-width);
  vertical-align: bottom;
}

page-side .map {
  width: var(--page-side-width);
  height: var(--page-side-width);
}

page-side .ads-rectangle {
  display: block;
  text-align: center;
}

.ads-footer {
  grid-area: fads;
}

footer.site {
  grid-area: footer;
  display: block;
  margin-top: 1rem;
  padding: 0.5rem;
  background: #eee;
  color: black;
  font-size: 90%;
  text-align: center;
}

footer.site a {
  margin: 0 .5em;
}
footer.site a:not(:active):not(:focus):not(:hover) {
  color: inherit;
  text-decoration: none;
}

nav.toplink {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  border: 1px solid var(--gray-border-color);
  border-radius: 1em;
  font-size: 150%;
  z-index: var(--floating-z-index);
}

nav.toplink a {
  min-width: 1em;
  min-height: 1em;
  border-radius: 1em;
  padding: 0.2em;
  background-color: var(--dialog-background-color);
  color: var(--dialog-color);
  opacity: 0.4;
  line-height: 1.0;
  text-decoration: none;
  cursor: pointer;
}

nav.toplink a:hover,
nav.toplink a:focus,
nav.toplink a:active {
  opacity: 1;
}

.charref {
  color: red;
  background: transparent;
}

.XX\58-debug {
  color: red !important;
  stroke: currentcolor !important;
}
.XX\58-debug2 {
  color: green !important;
  stroke: currentcolor !important;
}

/*

Copyright 2014-2023 Wakaba <wakaba@suikawiki.org>.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Affero General Public License for more details.

You does not have received a copy of the GNU Affero General Public
License along with this program, see <https://www.gnu.org/licenses/>.

*/
