[submodule "modules/wanage"]
	path = modules/wanage
	url = https://github.com/wakaba/wanage
	track = master
[submodule "modules/ooutils"]
	path = modules/ooutils
	url = https://github.com/wakaba/perl-ooutils
	track = master
[submodule "modules/web-encodings"]
	path = modules/web-encodings
	url = https://github.com/manakai/perl-web-encodings
	track = master
[submodule "modules/web-url"]
	path = modules/web-url
	url = https://github.com/manakai/perl-web-url
	track = master
[submodule "modules/json-ps"]
	path = modules/json-ps
	url = https://github.com/wakaba/perl-json-ps
	track = master
[submodule "modules/temma"]
	path = modules/temma
	url = https://github.com/wakaba/temma
	track = master
[submodule "modules/web-dom"]
	path = modules/web-dom
	url = https://github.com/manakai/perl-web-dom
	track = master
[submodule "modules/web-markup"]
	path = modules/web-markup
	url = https://github.com/manakai/perl-web-markup
	track = master
[submodule "modules/promise"]
	path = modules/promise
	url = https://github.com/wakaba/perl-promise
	track = master
[submodule "modules/promised-file"]
	path = modules/promised-file
	url = https://github.com/wakaba/perl-promised-file
	track = master
[submodule "modules/kyuureki"]
	path = modules/kyuureki
	url = https://github.com/wakaba/perl-kyuureki
	track = master
[submodule "modules/web-datetime"]
	path = modules/web-datetime
	url = https://github.com/manakai/perl-web-datetime
	track = master
[submodule "modules/web-langtag"]
	path = modules/web-langtag
	url = https://github.com/manakai/perl-web-langtag
	track = master
[submodule "modules/sarze"]
	path = modules/sarze
	url = https://github.com/wakaba/sarze
	track = transport
[submodule "modules/web-resource"]
	path = modules/web-resource
	url = https://github.com/manakai/perl-web-resource
	track = transport
[submodule "modules/streams"]
	path = modules/streams
	url = https://github.com/manakai/perl-streams
	track = master
[submodule "modules/number-cjk"]
	path = modules/number-cjk
	url = https://github.com/wakaba/perl-number-cjk
	track = master
